*{
    margin: 0px;
    padding: 0px;
}
.conatct-h3{
    margin-top: 50px;
}
.contact_data{
    
}
.contact-p{
    padding: 30px;
}
input,
textarea{
    padding: 0px 5px;
}
button{
    width: fit-content;
    padding: 3px 15px;
}