*{
    margin: 0px;
    padding: 0px;
}
.header_container{
    height: 80px;
    /* top: 20px; */
}
.nav_h1{
    font-family: Caveat;
    margin-left: 10px;
}
.menu{
    padding: 10px;
    padding-top: 150px;
}
.bars{
    margin-right: 10px;
}
p{
    margin-top: 20px;
    padding: 10px;
}
.link-item{
    padding: 7px;
}
.side-menu-container{

    margin-top: 100px;
    padding-top: 20px;
}
.x-mark{
    margin-top: 50px;
}



