*{
    margin: 0px;
    padding: 0px;
}
.Banner_style{
    margin-top: 30px;
    margin-bottom: 50px;
}
.section_div_1{
    margin-top: 50px;
    width: 1/2;
}
.find_me_icons{
    margin-bottom: 10px;
}
.home_icon{
    margin: 10px;

}
.home-footer{
    margin-bottom: 20px;
    margin-top: 10px;

}
