*{
    margin: 0px;
    padding: 0px;
}
.header_container{
    height: 80px;
    top: 20px;
}
.nav_h1{
    font-family: Caveat;
}

@media (width <= 370px) {
    .header_container{
        background-color: red;
        display: block;
    }
    .nav_menu ul{
        @apply block gap10 right-0
    }
}