@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@import "tailwindcss";

@theme{
    --font-logo: Caveat "sans-serif";
    --color-secondary: "#ff6000"
}

*{
    margin: 0px;
    padding:  0px;
}
#root{
    color: #ffffff;
    background-color: #000005;
}

.app_style{
    margin-left: 50px;
    margin-right: 50px; 
}

@layer components{
    .home_icon{
        @apply w-12 h-12  text-gray-300 bg-gray-900 text-xl inline-flex items-center justify-center rounded-md hover:translate-y-1 hover:text-green-600 duration-300
    }
    .resume_li{
        @apply  w-full bg-gray-900 text-xl flex justify-center cursor-pointer items-center duration-300 hover:bg-gray-700 rounded-none
    }
}

.active{
    color: #ffffff;
}